In [1]:
from pathlib import Path

train_path = Path("titanic-data", "train.csv")
test_path = Path("titanic-data", "test.csv")

In [3]:
import pandas as pd

train_df = pd.read_csv(train_path)
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Data Dictionary provided here: https://www.kaggle.com/competitions/titanic/data?select=train.csv

`Survived`: binary indicator of whether passenger (identified by `PassengerId` column) survived the Titanic tragedy

`Pclass`: ticket class, where 1 is first class, 2 is second class, and 3 is third class.

`Name`: Name of passenger

`Sex`: sex of the passenger

`Age`: age of the passenger

`SibSp`: number of siblings or spouses aboard the Titanic

`Parch`: number of parents or children aboard the Titanic

`Ticket`: ticket number

`Fare`: passeger fare

`cabin`: cabin number

`embarked`: port of embarkation

I'm not a huge fan of these column names, so I'm going to rename them.

In [8]:
def rename_columns(df: pd.DataFrame) -> pd.DataFrame:
    return df.rename(columns={
        "PassengerId": "passenger_id",
        "Survived": "did_survive",
        "Pclass": "ticket_class",
        "Name": "passenger_name",
        "Sex": "sex",
        "Age": "age",
        "SibSp": "sibling_spouse_count",
        "Parch": "parent_child_count",
        "Ticket": "ticket_number",
        "Fare": "ticket_fare",
        "Cabin": "cabin_number",
        "Embarked": "embarkation_port",
    })

def submission_rename(df: pd.DataFrame) -> pd.DataFrame:
    return df.rename(
        columns={
            "did_survive": "Survived",
            "passenger_id": "PassengerId",
        }
    )[["PassengerId", "Survived"]]

train_df = rename_columns(train_df)
train_df.columns

Index(['passenger_id', 'did_survive', 'ticket_class', 'passenger_name', 'sex',
       'age', 'sibling_spouse_count', 'parent_child_count', 'ticket_number',
       'ticket_fare', 'cabin_number', 'embarkation_port'],
      dtype='object')